
dl {color: rgb(179, 255, 0);}
dl {background-color: rgb(0, 139, 104);}
dl{ text-align: left;}


h3 {
    background-color: blueviolet;
    color: whitesmoke;
    width: 400px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.331);
}


p {line-height: 1.8;
 letter-spacing: 1;
 font-style: italic;
}
li {
    
    background-color: rgb(138, 43, 226);
    text-align: left;
    font-size: 20px;}
footer{
    background-color: blueviolet;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}
legend{
    color: white;
    background-color: red;
}
